<h1>Article form</h1>


<form method="POST" action="/articles">
	Title: <input type="text" name="title" class="form-group" required>
	Author Id: <input type="integer" name="authorId" class="form-group" required>
	Content: <input type="text" name="content" class="form-group" required>
	<input type="submit" value="Add Article">
</form>