<h1>Add new Author</h1>

<form method="POST" action="/authors">
	Name: <input type="text" name="name" class="form-group" required>
	Biogrophy: <input type="text" name="bio" class="form-group" required>
	Image: <input type="url" class="form-group" name="image">
	<input type="submit" value="Add Book">
</form>